:root {

  --clr-primary-900: hsla(0, 0%, 0%, 1);
  --clr-secondary-100: hsla(0, 0%, 100%, 1);
  --clr-tertiary-400: hsla(0, 0%, 73%, 1);


  --ff-primary: 'fenwick', sans-serif;
  --ff-primary-h2: 5vw;
  --ff-outline: 'fenwick-outline', sans-serif;
  --ff-manofa: "manofa", sans-serif;
  --ff-manofa-outline: "manofa light", sans-serif;


  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);
  --ff-para: var(--ff-manofa);

  --fw-regular: 300;
  --fw-semi-bold: 400;
  --fw-bold: 700;

  --fs-100: .5rem;
  --fs-200: .75rem;
  --fs-300: 1.375rem;
  --fs-400: 1.75rem;
  --fs-500: 1.875rem;
  --fs-600: 2rem;
  --fs-700: 4.375rem;
  --fs-750: 4.687rem;
  --fs-800: 7.375rem;
  --fs-900: 11.687rem;


  --fs-body: var(--fs-400);
  --fs-nav: var(--fs-200);
  --fs-primary-heading: var(--fs-800);
  --fs-secondary-heading: var(--fs-600);

  --ls-400: 2px;
  --lh-para: 25px;
  --lh-list: 20px;
  
  --size-100: 0.25rem;
  --size-200: 1rem;
  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-500: 1.5rem;
  --size-600: 2rem;
  --size-700: 3rem;
  --size-800: 4rem;
  --size-900: 5rem;
  --size-1000: 8rem;

  --space-200: 2rem;
  --space-400: 4rem;
  --space-600: 6rem;
}

@media (min-width: 50em){
  :root {
  --fs-100: 1rem;
  --fs-200: .75rem;
  --fs-300: 1.375rem;
  --fs-400: 1.25rem;
  --fs-500: 1.875rem;
  --fs-600: 2rem;
  --fs-650: 4.1rem;
  --fs-700: 4.375rem;
  --fs-750: 4.687rem;
  --fs-800: 7.375rem;
  --fs-900: 11.687rem;

  --fs-body: var(--fs-400);
  --fs-nav: var(--fs-200);

  --lh-para: 30px;
  --lh-list: 25px;
  }

}

/* https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
*{
  margin: 0;
  padding: 0;
  font: inherit;
  scroll-behavior: smooth;
}


/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */

body, main {
  overflow-x: hidden;
  height: 100%;
  color: var(--clr-primary-900);
  text-rendering: optimizeSpeed;
  line-height: 1;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Utility Classes */

.visually-hidden {
  position: absolute;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0,0,0,0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
.ls-400{
    letter-spacing: var(--ls-400);
}
.lh-para{
  line-height: var(--lh-para);
}
.lh-list{
  line-height: var(--lh-list);
}

.ff-primary{
  font-family: var(--ff-primary);
}
.ff-outline{
  font-family: var(--ff-outline);
}
.ff-manofa{
  font-family: var(--ff-manofa);
}
.text-ff-para{
  font-family: var(--ff-para);
}
.text-ff-para-sm{
  font-family: var(--ff-para);
  line-height:1.25;
}
.text-primary-400{
  color: var(--clr-primary-900);
}
.text-secondary-100{
  color: var(--clr-secondary-100);
}
.text-terciary-400{
  color: var(--clr-tertiary-400);
}

.background-primary-900{
  color: var(--clr-primary-900);
}
.background-secondary-100{
  color: var(--clr-secondary-100);
}


.fw-bold {font-weight: var(--fw-bold);}
.fw-semi-bold {font-weight: var(--fw-semi-bold);}
.fw-regular {font-weight: var(--fw-regular);}

.no-wrap{
  white-space: nowrap;
}


.fs-primary-heading { 
  font-size: var(--fs-700);
  white-space: nowrap;
}
.fs-secondary-heading { 
  font-size: var(--fs-650);
}
.fs-200 {font-size:var(--fs-200) }
.fs-300 {font-size:var(--fs-300) }
.fs-400 {font-size:var(--fs-400) }
.fs-500 {font-size:var(--fs-500) }
.fs-600 {font-size:var(--fs-600) }
.fs-650 {font-size:var(--fs-650) }
.fs-700 {font-size:var(--fs-700) }
.fs-750 {font-size:var(--fs-750) }
.fs-800 {font-size:var(--fs-800) }





/* general styling */
.primary-header{
  width:90vw;
}
header img{
  max-width: 10vw;
}

.container{
  width: 100%;
  padding:0 7vw;
}
/* scroll tracker */
.scroll-tracker{
  position:fixed;
  height:0.5rem;
  inset: 0 0 auto;
  background-color: var(--clr-tertiary-400);
  z-index: 100;
}
/* Intersection Observers */
.fade-in {
  opacity:0;
   transition: opacity 350ms ease-in;
 }
 .fade-in.appear{
   opacity: 1;
 }
 .fade-in-2 {
  opacity:0;
   transition: opacity 350ms ease-in;
 }
 .fade-in-2.appear{
   opacity: 1;
 }
 .fade-in-3 {
  opacity:0;
   transition: opacity 350ms ease-in;
 }
 .fade-in-3.appear{
   opacity: 1;
 }
 .slide-out {
  position:absolute;
  width:70vw;
  padding-bottom: 4rem;
  max-height:140vh;
  right:0;
  top: 50%;
  transform: translate(100% , -50%);
  transition: all 1000ms ease-in-out;
} 
.slide-out.appear{
  transform: translate(50% , -50%) ;
}
.services-slide{
  background-color: var(--clr-secondary-100);
  width:100vw;
  margin-left:-7vw;
  padding:var(--space-400);
}
.services-slide img{

}
/* navigation */

.nav-wrapper{
  width:84vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position:absolute;
  z-index: 100;
}
.mobile-nav-toggle{
  display: none;
}
.nav-list{
  color: var(--clr-secondary-100);
  display: flex;
  font-family: var(--ff-manofa);
  font-size: var(--fs-nav);
  font-weight: var(--fw-regular);
  gap: clamp(var(--size-500), 5vw, var(--size-800)) ;

  
}
.nav-list a{
  padding:.5rem;
  text-decoration: none;
  color: var(--clr-secondary-100);
  font-family: var(--ff-manofa);
  font-size: var(--fs-nav);
  font-weight: var(--fw-regular);
  transition:.4s ease-in-out;
  border-radius: 2px;
  vertical-align: middle;

}
@media (min-width: 50em) {
.nav-list a:hover{
  color: var(--clr-primary-900);
  background-color: var(--clr-secondary-100); 
  /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99222222, endColorstr=#99222222);
  /* For IE 8*/
  -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99222222, endColorstr=#99222222);
  z-index:10;
-moz-box-shadow:0px 0px 7px #000000;
-webkit-box-shadow:0px 0px 7px #000000;
box-shadow:0px 0px 7px #000000;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px; 
}
}
@media (max-width: 50em) {
  .primary-navigation{
    display: none;
    padding: var(--size-700);
    position: fixed;
    inset: 7rem var(--size-400) auto  ;
    background-color: var(--clr-tertiary-400);
    border-radius: var(--size-200);
    box-shadow: 0 0 0.25em rgb(253, 253, 253, rgb(0 0 0 /.8));
    z-index: 100;
  }
  .primary-header[data-overlay]::before{
    content:'';
    position: fixed;
    inset: 0;
    background-image: linear-gradient(rgb (0 0 0 / 0 ), rgb(0 0 0 /.8));
    z-index: 100;
  }
  .flex{
    display:inline-block;
  }
  .nav-list {
    display: grid;
    gap: var(--size-600);
    text-align: center;
    font-weight: var(--fw-bold);
  }
  
  .nav-list li {
    text-decoration: none;
    color: var(--clr-secondary-100);
  }
  .nav-list li:hover,
  .nav-list li:focus {
    color: var(--clr-primary-900);
  }
 
  .primary-navigation[data-visible]{
    display: block;
  }
  
  .mobile-nav-toggle{
    cursor: pointer;
    display: block;
    position:fixed;
    top: var(--size-400);
    right: 7vw;
    z-index:100;
    background: transparent;
    border: 0;
    padding: .05em;
  }
  .mobile-nav-toggle .icon-closed {
    display: none;
  }
 
  .landing-text {
    max-width: 80vw;
    position:absolute;
    top: 70%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .landing-text h1{
      font-size: 8vw;
  }
  .fs-primary{
    font-size: 8vw;
  }
  .ff-primary-h2{
  font-size: 7.5vw;
  }
  .text-ff-para{
  font-size: 4vw;
  }
  .text-ff-para-sm{
    font-size: 16px;
    }
  .ff-outline{
  font-size: 7.25vw;
  }
  .ff-manofa{
    font-size: 7.5vw;
    }
}

.nav-wrapper  {
  max-width: 100%;
 
  opacity: 0;
animation: fadenav .5s ease-in-out both;
animation-delay: 4.5s;

}
@keyframes fadenav {
from {opacity: 0;}
to {opacity:100;} 
}
/* Landing Section - 1      */
.landing  {
  max-width: 100%;
  position: relative;
  height:100vh;
  background-image: url('images/landing-background.svg');
  background-size:  cover;
  background-repeat: no-repeat;
  padding-top:var(--size-400);
  opacity: 0;
animation: fadenav .5s ease-in-out both;
animation-delay: 4.5s;

}
@keyframes fadenav {
from {opacity: 0;}
to {opacity:100;} 
}

.maze{
position: absolute;
height:150%;
top:20%;
left:50%;
/*transform: scale(50%, 50%) translate(-50%, 75%) rotateX(45deg);*/
}
.maze {
  display: inline-block;
  animation: rotate 100s linear infinite;
  animation-play-state: paused;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.landing-text-wrapper{
  height:60%;
  max-width:60vw;
  position: relative;
}
.landing-text {
  max-width: 60vw;
  position:absolute;
  top: 60%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.landing p {
  max-width: 40vw;
  padding-top: var(--space-400);
}
@media (max-width: 50em) {
  .landing{
    height:100vh;
  }
  .landing p {
    max-width: 60vw;
    padding-top: var(--space-200);
  }
 
}

@media (max-width: 80em) {
  .nav-logo{
    min-width:100px;
    padding-top:.75rem;
  }
  .landing-text {
    max-width: 60vw;
    position:absolute;
    top: 70%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
@media only screen and (max-width: 80em) and (min-width: 40em) {
  .landing-text h1{
      font-size: 4.5vw;
  }
  .fs-primary{
    font-size: 4.20vw;
  }
  .ff-primary-h2{
  font-size: 4.70vw;
  }
  .text-ff-para{
  font-size: 2vw;
  }
 
  .ff-outline{
  font-size: 4.71vw;
  }
  .ff-manofa{
    font-size: 4.7vw;
    }
}

/* Landing background maze      
.landing  {
  min-height:100vh;
  background-image:
  url('/images/landing-maze.svg'),
  url('/images/landing-background.svg');
  
  background-position: 
  -370% 10%, 
  center;
  background-size: 110%, cover;
  background-repeat: no-repeat;
}
*/
.landing-text p{
  max-width:45vw;
}
.anim{
 
}
#anim{ 
  background-image: url(images/landing-background.svg);
  position: absolute;
  height:100vh;
  padding:0;
  margin:0;
  width:100%;      
  animation: imganim 1.5s ease-in-out both;
  animation-delay: 5s;
}
@keyframes imganim {
from {opacity: 100;}
to {opacity:0;} 
}

/* Exceptional Section - 2      */
.exceptional{
  max-width:100vw;
  background-image: url('images/circlegradientdark.svg');
  background-repeat: no-repeat;
  background-position: center bottom;
}
.exceptional-text-wrapper{
  margin-bottom:4rem;
  position:relative;
  height:100vh;
}

.exceptional-text {
  max-width: 30vw;
  position:absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.exceptional-text p{
  padding-top: 4rem;
}
.uncover-text h1, .uncover-text h2{
  margin-left:10vw;
}
.uncover-text p:nth-of-type(2){
  margin-left: 20vw;
}
@media (min-width: 50em) {
  .uncover-text {
    max-width: 50vw;
    position:absolute;
    top: 30%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .uncover-text h1, .uncover-text h2{
    padding-left:0;
  }
  .uncover-text p:nth-of-type(2){
    float: right;
  }
}
.planet-wrapper{
  float: right;
  width:50vw;
  display:grid;
  padding-top:5%;
  grid-template-columns:  1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 7;
  row-gap: 5vh;
}
.planet-wrapper video{
  width:20vw;
}
.planet-1{ 
  grid-column: 2 / span 3;
  grid-row: 1/ span 3;
}
.planet-2{
  grid-column: 4 / span 3;
  grid-row: 3/ span 3;
}
.planet-3{
  grid-column: 2 / span 3;
  grid-row: 5/ span 3;
}
/*
.planet-3 video{
  width:200%;
}
*/
@media (max-width: 50em) {
  .exceptional{
  }
  .exceptional-text-wrapper{
    padding-top: 4rem;
    position:relative;
  }
  .planet-wrapper{
    width:80vw ;
  }
  .planet-wrapper video{
    width:20vw;
  }
  .planet-1{ 
    grid-column: 1 / span 3;
    grid-row: 1/ span 3;
  }
  .planet-2{
    grid-column: 3 / span 3;
    grid-row: 3/ span 3;
  }
  .planet-3{
    grid-column: 1 / span 3;
    grid-row: 5/ span 3;
  }
  .planet-wrapper video{
    width:35vw;
  }

  .uncover-text {
  padding:0 0 4rem 0;
  }
  .uncover-text p{
    max-width: 60vw;
  }
}
@media (max-width: 30em) {
  .exceptional-text-wrapper-2{
    min-height:120vh;
  }
}
@media (max-width: 50em) {
  .exceptional-text-wrapper-2{
    min-height:115vh;
  }
}

.about{
  min-height:60vh;
  background-image: url(images/circlegradientlight.svg);
  max-width: 100%;
  position: relative;
  background-size:  1000%;
  background-repeat: no-repeat;
  background-position: bottom;
  padding-top:var(--size-700);
  padding-bottom:var(--size-1000);
  z-index:50;
}
.about-word-art{
  position:relative;
}
.about-word-art video {
  height: auto;
  padding-bottom: 4rem;
  max-width: 95%;
}

@media (min-width: 50em) {
  .about{
   padding-top:var(--size-1000);
 }
 .about-word-art{
  margin-left:-10px;
 }
 .about .about-word-art video {
  max-width:65vw;
   padding-bottom:var(--size-1000);
 }
 .services .about-word-art video {
  max-width:45vw;
   margin-bottom:var(--size-800);
 }
}
.cards{
  width:90%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20vh;
}
.card-banner{
  font-family:'fenwick', sans-serif;
  font-size: 1rem;
}
.card{
  border-inline-start: 3px solid;
  border-block-start: 3px solid;
  padding:10px;
  border-image-source: radial-gradient(circle at top left, hsla(0, 0%, 73%, 1), transparent);
  border-image-slice: 1;
}
.card img{
  transform: translateZ(40px);
  display:block;
  margin:auto;
}
.card-content{
 text-align: center;
 position: relative;
 padding-top: 24em;
 transform-style: preserve-3d;
}
.card:hover .card-content{
  transform: rotateY(.5turn);
  transition: transform 1000ms ease-out;
}
.card-front,
.card-back{
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1em;
  backface-visibility: hidden;
}
.card-title{
  padding:1.5rem 0;
  font-size: 1.5rem;
  transform: translateZ(50px)
}
.card-subtitle{
  font-size: 1rem;
  transform: translateZ(30px)
}
.card-body{
  vertical-align: middle;
  font-size: var(--fs-300);
}
.card-back{
  margin-bottom:-1rem;
  padding:1rem 0 30rem 0;
  transform: rotateY(.5turn);
  background: lightblue;
}

@media (min-width: 50em) {
  .cards{
    width:90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10vw;
  }
  .card-back{
    padding:1rem 0 30rem 0;
  }
  .card-title{
    padding-top:3rem;
    font-size: 1.8rem;
  }  
}

.background-top{
  background-color: #0C0C0C;
  position: relative;
}

.services{
  max-width:100vw;
  background-image: url('images/circlegradientdark.svg');
  background-repeat: no-repeat;
  background-position: center bottom;
  padding-top:24rem;
  position:absolute;
  top: -16rem;
  z-index:25;
}

.services-content{
  margin-bottom:-300px;
  width:40vw;
}
.services-experience{
  padding: 10rem 0 6rem 0;
  width: 70vw;
}
.services-soundwave{
  height:914px;
}
.services-soundwave svg{
  width: 100vw;
  position:absolute;
  top:45%;
}
@media (max-width: 80em) {
  .background-top{
    position: relative;
  }
  .services-soundwave{
    height:700px;
  }
  .services-soundwave svg{
    width: 100vw;
    position:absolute;
    top:55%;
  }
}
@media (max-width: 50em) {
  .background-top{
  }
  .services{
    padding-top:20rem;
  }
  .services-content{
    width: 80vw;
  }
  .services-experience{
    padding: 8rem 0 2rem 0;
  }
  .services-soundwave{
    height:500px;
  }
  .services-soundwave svg{
    width: 100vw;
    position:absolute;
    top:70%;
  }
}
.full-width {
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width: 100vw;
  position: relative;
  right: 50%;
  width: 100vw;
}
.value-cards{
  padding: 10rem 0 12rem 0;
  width:90%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20vh;
}
.value-content{
  border-inline-start: 1px solid;
  border-block-start: 1px solid;
  padding:10px;
  border-image-source: radial-gradient(circle at top left, hsla(0, 0%, 73%, 1), transparent);
  border-image-slice: 1;
}
@media (min-width: 50em) {
  .value-cards{
    width:100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5vw;
    margin: 0 auto;
  }
 
  .value-title{
    padding-left: 1.5rem;
    padding-bottom: 10px;
  }  
  .value-content{
    padding-top: 1rem;
    padding-left: 1.5rem;
  }
}
.capabilities-wrapper{
  padding: 14rem 0;
  position:relative;
  background-color: #0C0C0C;
}
.capabilities-wrapper-img{
  height: 50%;
  position: absolute;
}

@media (max-width: 55em) {
  .capabilities-wrapper-img{
    height:50vh;
  }
  .capabilities-wrapper{
    padding: 10rem 0;
  }
  
}
.align{
  width:70vw;
  margin:0 auto;
}

/* .cap-title{
  padding-bottom:.5rem;
  text-underline-offset: 5px;
} */
.capabilities-cards{
  margin:0 auto;
  width:60vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2vw;
  min-height: 40rem;
}
.hidden-sm{
  display:block;
}
.icon-align{
 width:60%;
}
.icon-create{
  width:80%;
 }
.hidden-md{
  display:none;
}
@media (max-width: 80em) {
  .capabilities-cards{
   padding-left: 4rem;
    width:80vw;
  }
}
@media (max-width: 50em) {
  .capabilities-cards{
    padding: var(--space-400) 0;
    margin:0 auto;
    width:50vw;
    display: grid;
    grid-template-columns: 1fr ;
    gap: 5vw;
  }
  .hidden-sm{
    display:none;
  }
  .hidden-md{
    display:block;
  }
  .capabilities-card{
    padding-top: var(--space-400);
  }
}
.cap-content ul li{
  list-style-type: none;
}

/* drop down lists */


@media (min-width: 60em) {
  .cap-content ul {
    margin-left: 30%;
  }
  .cap-content ul li{
    list-style-type: none;
  }
 .menu, .menu ul {
  list-style: none;
  padding: 0;
  }

  .menu ul {
    margin: 0;
  }

  .menu {
    position: relative;
    display: inline-block;
    outline: 0;
  }

  .submenu {
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 0;
    overflow: hidden;
    max-height: 0;
    -webkit-transition: max-height 1ms linear 1s;
      -moz-transition: max-height 1ms linear 1s;
    pointer-events: none;
  }

  .capabilities-cards:hover .submenu, .menu:focus .submenu {
    pointer-events: auto;
    z-index: 10;
    max-height: 2000px;
    -webkit-transition: none;
       -moz-transition: none;
  }



   /* forward NB replaced-ALL .menu > li:hover to .capabilities-cards:hover */
  .capabilities-cards:hover .submenu li:nth-child(1) {
    -webkit-transition-delay: 0s;
       -moz-transition-delay: 0s;
        -ms-transition-delay: 0s;
         -o-transition-delay: 0s;
            transition-delay: 0s;
  }

  .capabilities-cards:hover .submenu li:nth-child(2) {
    -webkit-transition-delay: 66ms;
       -moz-transition-delay: 66ms;
        -ms-transition-delay: 66ms;
         -o-transition-delay: 66ms;
            transition-delay: 66ms;
  }

  .capabilities-cards:hover .submenu li:nth-child(3) {
    -webkit-transition-delay: 133ms;
       -moz-transition-delay: 133ms;
        -ms-transition-delay: 133ms;
         -o-transition-delay: 133ms;
            transition-delay: 133ms;
  }

  .capabilities-cards:hover .submenu li:nth-child(4) {
    -webkit-transition-delay: 200ms;
       -moz-transition-delay: 200ms;
        -ms-transition-delay: 200ms;
         -o-transition-delay: 200ms;
            transition-delay: 200ms;
  }

  .capabilities-cards:hover .submenu li:nth-child(5) {
    -webkit-transition-delay: 266ms;
       -moz-transition-delay: 266ms;
        -ms-transition-delay: 266ms;
         -o-transition-delay: 266ms;
            transition-delay: 266ms;
  }

  .capabilities-cards:hover .submenu li:nth-child(6) {
    -webkit-transition-delay: 333ms;
       -moz-transition-delay: 333ms;
        -ms-transition-delay: 333ms;
         -o-transition-delay: 333ms;
            transition-delay: 333ms;
  }

  .capabilities-cards:hover .submenu li:nth-child(7) {
    -webkit-transition-delay: 400ms;
       -moz-transition-delay: 400ms;
        -ms-transition-delay: 400ms;
         -o-transition-delay: 400ms;
            transition-delay: 400ms;
  }

  .capabilities-cards:hover .submenu li:nth-child(8) {
    -webkit-transition-delay: 466ms;
       -moz-transition-delay: 466ms;
        -ms-transition-delay: 466ms;
         -o-transition-delay: 466ms;
            transition-delay: 466ms;
  }
  .capabilities-cards:hover .submenu li:nth-child(9) {
    -webkit-transition-delay: 533ms;
       -moz-transition-delay: 533ms;
        -ms-transition-delay: 533ms;
         -o-transition-delay: 533ms;
            transition-delay: 533ms;
  }
  .capabilities-cards:hover .submenu li:nth-child(10) {
    -webkit-transition-delay: 600ms;
       -moz-transition-delay: 600ms;
        -ms-transition-delay: 600ms;
         -o-transition-delay: 600ms;
            transition-delay: 600ms;
  }
  .capabilities-cards:hover .submenu li:nth-child(11) {
    -webkit-transition-delay: 666ms;
       -moz-transition-delay: 666ms;
        -ms-transition-delay: 666ms;
         -o-transition-delay: 666ms;
            transition-delay: 666ms;
  }
  .capabilities-cards:hover .submenu li:nth-child(12) {
    -webkit-transition-delay: 733ms;
       -moz-transition-delay: 733ms;
        -ms-transition-delay: 733ms;
         -o-transition-delay: 733ms;
            transition-delay: 733ms;
  }
  .capabilities-cards:hover .submenu li:nth-child(13) {
    -webkit-transition-delay: 800ms;
       -moz-transition-delay: 800ms;
        -ms-transition-delay: 800ms;
         -o-transition-delay: 800ms;
            transition-delay: 800ms;
  }
  .capabilities-cards:hover .submenu li:nth-child(14) {
    -webkit-transition-delay: 866ms;
       -moz-transition-delay: 866ms;
        -ms-transition-delay: 866ms;
         -o-transition-delay: 866ms;
            transition-delay: 866ms;
  }
  .capabilities-cards:hover .submenu li:nth-child(15) {
    -webkit-transition-delay: 933ms;
       -moz-transition-delay: 933ms;
        -ms-transition-delay: 933ms;
         -o-transition-delay: 933ms;
            transition-delay: 933ms;
  }
  .capabilities-cards:hover .submenu li:nth-child(16) {
    -webkit-transition-delay: 1000ms;
       -moz-transition-delay: 1000ms;
        -ms-transition-delay: 1000ms;
         -o-transition-delay: 1000ms;
            transition-delay: 1000ms;
  }
  .capabilities-cards:hover .submenu li:nth-child(17) {
    -webkit-transition-delay: 1066ms;
       -moz-transition-delay: 1066ms;
        -ms-transition-delay: 1066ms;
         -o-transition-delay: 1066ms;
            transition-delay: 1066ms;
  }
  .capabilities-cards:hover .submenu li:nth-child(18) {
    -webkit-transition-delay: 1133ms;
       -moz-transition-delay: 1133ms;
        -ms-transition-delay: 1133ms;
         -o-transition-delay: 1133ms;
            transition-delay: 1133ms;
  }
  .capabilities-cards:hover .submenu li:nth-child(19) {
    -webkit-transition-delay: 1166ms;
       -moz-transition-delay: 1166ms;
        -ms-transition-delay: 1166ms;
         -o-transition-delay: 1166ms;
            transition-delay: 1166ms;
  }
  .capabilities-cards:hover .submenu li:nth-child(20) {
    -webkit-transition-delay: 1266ms;
       -moz-transition-delay: 1266ms;
        -ms-transition-delay: 1266ms;
         -o-transition-delay: 1266ms;
            transition-delay: 1266ms;
  }


  /* backward */
  /*
  .submenu li:nth-child(1) {
    -webkit-transition-delay: 1266ms;
       -moz-transition-delay: 1266ms;
        -ms-transition-delay: 1266ms;
         -o-transition-delay: 1266ms;
            transition-delay: 1266ms;
  }
  .submenu li:nth-child(2) {
    -webkit-transition-delay: 1200ms;
       -moz-transition-delay: 1200ms;
        -ms-transition-delay: 1200ms;
         -o-transition-delay: 1200ms;
            transition-delay: 1200ms;
  }
  .submenu li:nth-child(3) {
    -webkit-transition-delay: 1133ms;
       -moz-transition-delay: 1133ms;
        -ms-transition-delay: 1133ms;
         -o-transition-delay: 1133ms;
            transition-delay: 1133ms;
  }

  .submenu li:nth-child(4) {
    -webkit-transition-delay: 1066ms;
       -moz-transition-delay: 1066ms;
        -ms-transition-delay: 1066ms;
         -o-transition-delay: 1066ms;
            transition-delay: 1066ms;
  }

  .submenu li:nth-child(5) {
    -webkit-transition-delay: 1000ms;
       -moz-transition-delay: 1000ms;
        -ms-transition-delay: 1000ms;
         -o-transition-delay: 1000ms;
            transition-delay: 1000ms;
  }

  .submenu li:nth-child(6) {
    -webkit-transition-delay: 933ms;
       -moz-transition-delay: 933ms;
        -ms-transition-delay: 933ms;
         -o-transition-delay: 933ms;
            transition-delay: 933ms;
  }

  .submenu li:nth-child(7) {
    -webkit-transition-delay: 866ms;
       -moz-transition-delay: 866ms;
        -ms-transition-delay: 866ms;
         -o-transition-delay: 866ms;
            transition-delay: 866ms;
  }

  .submenu li:nth-child(8) {
    -webkit-transition-delay: 800ms;
       -moz-transition-delay: 800ms;
        -ms-transition-delay: 800ms;
         -o-transition-delay: 800ms;
            transition-delay: 800ms;
  }

  .submenu li:nth-child(9) {
    -webkit-transition-delay: 733ms;
       -moz-transition-delay: 733ms;
        -ms-transition-delay: 733ms;
         -o-transition-delay: 733ms;
            transition-delay: 733ms;
  }

  .submenu li:nth-child(10) {
    -webkit-transition-delay: 666ms;
       -moz-transition-delay: 666ms;
        -ms-transition-delay: 666ms;
         -o-transition-delay: 666ms;
            transition-delay: 666ms;
  }
  .submenu li:nth-child(11) {
    -webkit-transition-delay: 600ms;
       -moz-transition-delay: 600ms;
        -ms-transition-delay: 600ms;
         -o-transition-delay: 600ms;
            transition-delay: 600ms;
  }
  .submenu li:nth-child(12) {
    -webkit-transition-delay: 533ms;
       -moz-transition-delay: 533ms;
        -ms-transition-delay: 533ms;
         -o-transition-delay: 533ms;
            transition-delay: 533ms;
  }
  .submenu li:nth-child(13) {
    -webkit-transition-delay: 466ms;
       -moz-transition-delay: 466ms;
        -ms-transition-delay: 466ms;
         -o-transition-delay: 466ms;
            transition-delay: 466ms;
  }
  .submenu li:nth-child(14) {
    -webkit-transition-delay: 400ms;
       -moz-transition-delay: 400ms;
        -ms-transition-delay: 400ms;
         -o-transition-delay: 400ms;
            transition-delay: 400ms;
  }
  .submenu li:nth-child(15) {
    -webkit-transition-delay: 333ms;
       -moz-transition-delay: 333ms;
        -ms-transition-delay: 333ms;
         -o-transition-delay: 333ms;
            transition-delay: 333ms;
  }
  .submenu li:nth-child(16) {
    -webkit-transition-delay: 266ms;
       -moz-transition-delay: 266ms;
        -ms-transition-delay: 266ms;
         -o-transition-delay: 266ms;
            transition-delay: 266ms;
  }
  .submenu li:nth-child(17) {
    -webkit-transition-delay: 200ms;
       -moz-transition-delay: 200ms;
        -ms-transition-delay: 200ms;
         -o-transition-delay: 200ms;
            transition-delay: 200ms;
  }
  .submenu li:nth-child(18) {
    -webkit-transition-delay: 133ms;
       -moz-transition-delay: 133ms;
        -ms-transition-delay: 133ms;
         -o-transition-delay: 133ms;
            transition-delay: 133ms;
  }
  .submenu li:nth-child(19) {
    -webkit-transition-delay: 66ms;
       -moz-transition-delay: 66ms;
        -ms-transition-delay: 66ms;
         -o-transition-delay: 66ms;
            transition-delay: 66ms;
  }
  .submenu li:nth-child(20) {
    -webkit-transition-delay: 0s;
       -moz-transition-delay: 0s;
        -ms-transition-delay: 0s;
         -o-transition-delay: 0s;
            transition-delay: 0s;
  }
  */
  /* Default
   ================================================================= */
  .submenu li {
    opacity: 0;

    -webkit-transition: opacity .6s, -webkit-transform 1s, max-height 1.6s;
       -moz-transition: opacity .6s,    -moz-transform 1s, max-height 1.6s;
        -ms-transition: opacity .6s,     -ms-transform 1s, max-height 1.6s;
         -o-transition: opacity .6s,      -o-transform 1s, max-height 1.6s;
            transition: opacity .6s,         transform 1s, max-height 1.6s;
  }

  .capabilities-cards:hover .submenu li, .menu:focus .submenu li {
    opacity: 1;

    -webkit-transform: none;
       -moz-transform: none;
        -ms-transform: none;
         -o-transform: none;
            transform: none;
  }





  /* Helix
   ================================================================= */
  .helix {
    -webkit-perspective: 400px;
       -moz-perspective: 400px;
        -ms-perspective: 400px;
         -o-perspective: 400px;
            perspective: 400px;
  }

  .helix li {
    -webkit-transform: rotateY(90deg);
       -moz-transform: rotateY(90deg);
        -ms-transform: rotateY(90deg);
         -o-transform: rotateY(90deg);
            transform: rotateY(90deg);
  }
}

.icon-circle{
  margin: 1rem ;
  rotate: 90deg;
  transform-origin: 55% 55%;
  transition: .5s ;
  transition-timing-function: ease-in-out;
}
.capabilities-cards:hover .icon-circle{
  rotate: 0deg;
  transition: .5s ;
  transition-timing-function: ease-in-out;
} 
.contact{
  background-color: #0C0C0C;
  padding-top: var(--space-600);
  padding-bottom: var(--space-600);
}
.contact h3,
.legendary{
  margin: 0 auto;
  width:60vw;
}
.legendary{
  padding-bottom: var(--space-400);
}
#mc_embed_signup{
  width:60vw;
  margin:0 auto;
}
#mc_embed_signup input {
  background-color: #0C0C0C;
  color:var(--clr-tertiary-400) !important;
  border: none ;
  border-bottom:solid 1px white;
}
#mc_embed_signup input:hover {

  border:solid 1px white;
}
.mc-btn{
 background-color: #0C0C0C !important;
 padding-top:2rem;
 width: 15vw !important;
 min-width: 150px;  
 border:none !important;
 margin:0 auto !important; 
 transition: .4s ease-in-out;
}
.mc-btn:hover{
  scale: 1.08;
}
#mc-embedded-subscribe-form{
  margin:0 !important;
}
.mc-field-group input{
  white-space: normal;
}
@media (min-width: 80em) {
    .contact h3,
  .legendary{
    margin: 0 auto;
    width:55vw;
  }
  .legendary{
    padding-bottom: .5rem;
  }
  #mc_embed_signup{
    width:45vw;
    margin:0 auto;
  }
  .mc-btn{
    padding-top:0;
  }
}
@media (min-width: 90em) {
    .contact h3,
  .legendary{
    margin: 0 auto;
    width:50vw;
  }
  .legendary{
    padding-bottom: .5rem;
  }
  #mc_embed_signup{
    width:50vw;
    margin:0 auto;
  }
  .mc-btn{
    padding-top:0;
  }
}

/*footer*/
.footer{
  color:var(--clr-primary-900);
  font-family: 'fenwick', sans-serif;
  font-size: 16px;
  font-weight: 100 !important;
  padding-top:2rem !important;
  padding-bottom:2rem !important;
  white-space: nowrap;
}
.footer-grid{
  display: grid;
  grid-template-columns: 1fr ;
  gap:5vh; 
  align-items: start;
}
.footer-col{
  display:flex;
  justify-content: center;
  padding:1rem 0;
}
.footer-col-2{
  margin-top:auto;
  order:3;
}
.footer-col-3{
  margin:auto auto;
}
.footer-col-3 a{
  width:3rem;
  display: inline-block;
  padding: .25rem;
}

@media (min-width: 50em) {
  .footer-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap:3vw; 
  }

  .footer-col-3{
    order:3;
    margin-top:auto;
    margin-left:auto;
  }
  .footer-col-3 a{
    display: inline-block;
    padding: .5rem;
  }
}

